@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
  font-family: 'Poppins', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  header {
    background-color: #333;
    color: #fff;
    text-align: left;
    padding: 1rem;
    display: flex;
    align-items: left;
  }
  
  header img {
    height: 40px;
    margin-right: 1rem;
  }
  
  
  .container {
    max-width: 1080px;
    margin: 0 auto;
    padding: 1rem;
  }
  
  .category {
    margin-bottom: 2rem;
  }
  
  .category h2 {
    font-size: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 5.5rem;
  }
   
  
  .tools {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .tools li {
    list-style: none;
    margin-right: 1rem;
    margin-bottom: 1rem;
    width: 200px;
    height: 200px;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
  }
  
  .tools li a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    transition: transform 0.3s ease;
    height: 100%;
    width: 100%;
    justify-content: center;
  }

  .tools li a:hover {
    transform: scale(0.9); 
  }

  .tools li p {
    text-align: center;
    color: black;
  }
  
  .tools li img {
    max-width: 50%;
    height: 200px;
    transition: transform 0.3s ease;
  }
  
  .tools li:hover img {
    transform: scale(0.9);
  }
  
  .tools li h3 {
    font-size: 1rem;
    margin-top: 0.25rem;
    text-align: center;
    color: #333;
  }
  